{% extends 'base.html' %} {% block content %}

<!-- {{ user.username }} {{ user.email }} {{ user.billing_address }} {{
  user.postal_code }} -->

<h1>Update User Information</h1>
<h4>{{ msg }}</h4>
<form method="post">
  <div class="form-group">
    <label for="email">Update Email</label>
    <input
      class="form-control"
      name="email"
      id="email"
      value="{{ user.email }}"
      required
    />
    <label for="name">Update Username</label>
    <input
      class="form-control"
      name="name"
      id="name"
      value="{{ user.username }}"
      required
    />
    <label for="password">Update Password</label>
    <input
      class="form-control"
      type="password"
      name="password"
      id="password"
      value="{{ user.password }}"
      required
    />
    <label for="billing-address">Update Billing Address</label>
    <input
      class="form-control"
      name="billing-address"
      id="billing-address"
      value="{{ user.billing_address }}"
    />
    <label for="postal-code">Update Postal Code</label>
    <input
      class="form-control"
      name="postal-code"
      id="postal-code"
      value="{{ user.postal_code }}"
    />

    <input class="btn btn-primary" type="submit" value="Update Information" />
  </div>
</form>
{% endblock %}
